/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


/*Header*/

header{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}


nav > ul{
    list-style: none;
    display: flex;
}

nav li{
    margin: 0px 5px;
}

.logo{
    display: block;
    max-width: 100%;
    width: auto;
    height: 50px;
}

/*Music for everyone*/

.musicforeveryone{
    display: flex;
    position: relative;
    
}

.landing{
    width: 100%;
}

.textoverlanding{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    color: white;
}

/*div1 : What's on spotify? */

.whatsonspotify > h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00B172;
}

.threethings{
    display: flex;
    text-align: center;
    justify-content: center;
}

.threethings img{
    width: 100px;
}

.threethings h3{
    color: #00B172;
}

.threethings > div >p {
    margin: 0px 50px;
    text-align: center;
}

/*Green area*/

.green{
    background-color: #00B172;
    color: white;
}

.threethingstodo{
    display: flex;
    flex-direction: column;
}

.threethingstodo > p{
    
}

.greencontent{
    display: flex;
    align-items: center;
}

#spotifywhite{
    width: 80px;
    height: 80px;
    max-width: 100;
}

#kanyewest{
    width: 200px;
}