html{
    font-family: sans-serif;
    color: #1a1a1a;
    font-size: large;
}

h1{
    font-size: 70px;
    font-weight:600;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    overflow: hidden;
    position: fixed;
    background-color: #FFF;
    top: 0;
    width: 100%;
}

nav{
    margin: 20px 50px;
    font-size: larger;

}

nav > ul{
    list-style: none;
    display: flex;
}

nav li{
    margin: 0px 10px;
}

.logo{
    display: block;
    max-width: 100%;
    width: auto;
    height: 60px;
    margin: 20px;
}

/*Music for everyone*/

.musicforeveryone{
    display: flex;
    position: relative;
}

.landing{
    width: 100%;
    z-index: -5;
}

.textoverlanding{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 800px;
    z-index: -4;
}

.textoverlanding > p{
    font-size: 30px;
    font-weight: lighter;
    position: relative;
    bottom: 20px;
    margin: 0px 20px;
}

/*div1 : What's on spotify? */

.whatsonspotify > h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00B172;
    
}

.threethings{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.threethings img{
    width: 100px;
}

.threethings h3{
    color: #00B172;
    font-weight: 750;
}

.threethings > div >p {
    margin: 0px 50px;
    text-align: center;
}

/*Green area*/

.green{
    background-color: #00B172;
    color: white;
}

.h2div > h2{
    text-decoration: underline;
}

.h2div{
    position: relative;
    top: 50px;
    margin-left: 50px;
}


.threethingstodo{
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

.greencontent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#spotifywhite{
    width: 80px;
    height: 80px;
    max-width: 100;
    margin: 10px;
}

#kanyewest{
    width: 300px;
    margin: 30px;
}