/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


/*Navigation bar*/

nav{
    display: flex;
}

.logo{
    display: block;
    max-width: 100%;
    width: auto;
    height: 50px;
}

.divlogo{
    
}
.navlistdiv{
    display: flex;
    flex-direction: flex-end;
}

header .navlist{
    list-style: none;
    display: flex;
}

.navlist li{
    margin: 0px 5px;
}

.landing{
    
    width: 100%;

}

.textoverlanding{
    display: flex;
    z-index: 0;
    color: blue;

}

/*div1 : What's on spotify? */

.whatsonspotify > h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: green;
}

.threethings{
    display: flex;
    text-align: center;
    justify-content: center;
}

.threethings img{
    width: 100px;
}

.threethings h3{
    color: green;
}

.threethings > div >p {
    margin: 0px 50px;
    text-align: center;
}

/*Green area*/

.green{
    background-color: green;
    color: white;
}

.threethingstodo{
    display: flex;
    flex-direction: column;
}

.threethingstodo > p{
    
}

.greencontent{
    display: flex;
    ;
}

#spotifywhite{
    width: 80px;
}

#kanyewest{
    width: 200px;
}